h1{
    font-family: 'bdp clien', sans-serif;
    font-size: 70px;
    font-weight: 300;
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
  }
  
  p{
    text-align: center;
    font-size: 30px;
  }
  
  hr{
      border-top: 1px solid black;
      border-bottom: 0px;
    width: 350px;
  }
  
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*border: 5px solid #FFFF00;*/
    padding: 0px;
    margin: 0px;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  html {
      font-family: sans-serif;
  }
  
  body{
  background: rgb(174,223,238);
  background: radial-gradient(circle, rgba(174,223,238,0.9808298319327731) 0%, rgba(148,187,233,0.9556197478991597) 100%);
  }