<html>
    <head>
        <!-- https://player.twitch.tv/?channel=tfue&player=facebook&autoplay=true&parent=meta.tag -->

        <meta property="og:type" content="video.other" />
        <meta property="og:image" content="https://static-cdn.jtvnw.net/jtv_user_pictures/82b63a01-628f-4c81-9b05-dd3a5011fdda-profile_image-300x300.png" />
        <meta property="og:video" content="https://www.youtube.com/embed/QA_gm7a_ZDw" />
        <meta property="og:video:secure_url" content="https://www.youtube.com/embed/QA_gm7a_ZDw" />
        <meta property="og:width" content="620" />
        <meta property="og:height" content="378" />
        <meta property="og:video:type" content="text/html" />
    </head>
    <body>
        joe mama
    </body>
</html>